rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null
          && (request.auth.token.email == 'tcharlton91@gmail.com'
              || request.auth.token.email == 'm.a.yasutake@gmail.com');
    }

    match /gpx/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
      allow create: if isAdmin()
                    && request.resource.size < 10 * 1024 * 1024;
    }
    match /csv/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
      allow create: if isAdmin()
                    && request.resource.size < 5 * 1024 * 1024;
    }
    match /tiles/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
      allow create: if isAdmin()
                    && request.resource.size < 50 * 1024 * 1024;
    }
    match /points/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
      allow create: if isAdmin()
                    && request.resource.size < 50 * 1024 * 1024;
    }
    match /photos/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
      allow create: if isAdmin()
                    && request.resource.size < 10 * 1024 * 1024;
    }
    match /videos/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
      allow create: if isAdmin()
                    && request.resource.size < 500 * 1024 * 1024;
    }
    match /post-routes/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
      allow create: if isAdmin()
                    && request.resource.size < 10 * 1024 * 1024;
    }
  }
}